a{
  text-decoration: none !important;
  color: #1F2937 !important;
}
a:hover{
  color: #009F7F !important;
}
.button-sell:hover{
  color: white !important;
}
.m-lr-10{
  margin-right: 10%;
  margin-left: 10%;
}
.left-0{
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.copy{
  color: #009F7F !important;
  cursor: pointer;
}
.w-90{
  width: 90%;
}
.h-btn{
  width:90px ;
  height:96px;
  border: none;
  z-index: 3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.h-btn-position{
  right: 0% !important;
  top:45% !important;
}
.btn-bg{
  background-color: #009F7F;
}
.card-wh{
  height: 30px;
}
.top{
  top: -12px !important;
  left: 5% !important;
}
.border-n{
  border: none;
}